<footer>
  <div class="f-info">
    <div class="f-info-social">
      <a href="https://www.instagram.com/afridddd_07/" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand">&copy; Travel Buddy</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
