<% layout("/layouts/biolerplate") %>
<body>
    <h3>Create New Listing Here!!!</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        name="listing[title]"
                        placeholder="Enter Your Title"
                        type="text"
                        class="form-control"
                        required />
                        <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter Title!!</div>
                </div>
                <div class="mb-3">
                    <label for="discription"
                        class="form-label">Description</label>
                    <textarea
                        name="listing[description]"
                        placeholder="Enter Your Description"
                        type="text"
                        class="form-control"
                        required
                        ></textarea>
                        <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter descriptiom!!</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input
                        name="listing[image]"
                        type="file"
                        class="form-control" />
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input
                            name="listing[price]"
                            placeholder="1200"
                            class="form-control"
                            required />
                            <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter price!!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input
                            name="listing[country]"
                            placeholder="India"
                            type="text"
                            class="form-control"
                            required />
                            <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter counrty!!</div>
                    </div>
                    <div class="mb-3">
                        <label for="location"
                            class="form-label">Location</label>
                        <input
                            name="listing[location]"
                            placeholder="Enter Your location"
                            type="text"
                            class="form-control"
                            required />
                            <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter Title!!</div>
                        </div>
                        <br><br>
                        <button class="btn btn-dark add-btn">Submit!!!</button>
                    </div>
                </div>
            </form>
        </body>
