<% layout("/layouts/biolerplate") %>
<body>
    <h3>Create New Listing Here!!!</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        name="listing[title]"
                        placeholder="Enter Your Title"
                        type="text"
                        class="form-control"
                        required />
                        <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter Title!!</div>
                </div>
                <div class="mb-3">
                    <label for="discription"
                        class="form-label">Description</label>
                    <textarea
                        name="listing[description]"
                        placeholder="Enter Your Description"
                        type="text"
                        class="form-control"
                        required
                        ></textarea>
                        <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter descriptiom!!</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input
                        name="listing[image]"
                        type="file"
                        class="form-control" />
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input
                            name="listing[price]"
                            placeholder="1200"
                            class="form-control"
                            required />
                            <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter price!!</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input
                            name="listing[country]"
                            placeholder="India"
                            type="text"
                            class="form-control"
                            required />
                            <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter counrty!!</div>
                    </div>
                    <div class="mb-3">
                        <label for="location"
                            class="form-label">Location</label>
                        <input
                            name="listing[location]"
                            placeholder="Enter Your location"
                            type="text"
                            class="form-control"
                            required />
                            <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please Enter Title!!</div>
                        </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                        <select name="listing[category]" class="form-select" required>
                            <option value="" disabled selected>Select a category</option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Mountains">Mountains</option>
                            <option value="Iconic cities">Iconic cities</option>
                            <option value="Castles">Castles</option>
                            <option value="Amazing pools">Amazing pools</option>
                            <option value="Camping">Camping</option>
                            <option value="Beaches">Beaches</option>
                            <option value="Domes">Domes</option>
                        </select>
                        <div class="valid-feedback">Looks!! Good</div>
                        <div class="invalid-feedback">Please select a category!!</div>
                    </div>
                        <br><br>
                        <button class="btn btn-dark add-btn">Submit!!!</button>
                    </div>
                </div>
            </form>
        </body>
